doctype html
html(lang="en")
  head 
    title User Testing 360° 
    meta(charset="utf-8") 
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="css/animate.css") 
    link(rel="stylesheet" type="text/css" href="css/font-awesome.min.css")    	
  body
     .container-fluid
      header
       nav
        .col-md-4
         img(src="image/user-r.png")
        .col-md-8  
         ul.list-unstyled.list-inline.pull-right
          li
           a(href="#") ¿Qué me ofrece?
          li
           a(href="#") ¿Cómo funciona?
          li
           a(href="#") ¿Por qué usarlo? 
          li
           a(href="#") Contáctanos
       h1 Obtén videos de personas reales utilizando tu sitio web, en 1 hora
       .cuadro
        .col-md-6
         h2 PRUEBA GRATUITA
         p Obtén un video gratis de 5 minutos  
        .col-md-6
         button Pruebalo gratis	
      .servicios.col-md-12.text-center
       h2 Nuestros servicios
       .col-md-12
        .col-md-4
         .thumbnail.text-center
          .circulo
           i.fa.fa-heart.fa-2x
          .caption
           h3 asdfghj
           p fminf5nfu5nug5n8g5n
        .col-md-4
         .thumbnail.text-center
          .circulo
           i.fa.fa-heart.fa-2x
          .caption
           h3 asdfghj
           p fminf5nfu5nug5n8g5n 
        .col-md-4
         .thumbnail.text-center
          .circulo
           i.fa.fa-heart.fa-2x
          .caption
           h3 asdfghj
           p fminf5nfu5nug5n8g5n
        img(src="image/separador.png")
       .col-md-12.ejemplo
        .col-md-6.text-center
         h2 Ejemplo de
         img(src="image/user-r.png")
         p En este video te damos un ejemplo de un integrante de nuestro panel evaluando la experiencia de usa de
         a(href="#") mimediamanzana.com
         p El objetivo de User Testing 360 es identificar situaciones confusas de los usuarios en su web y describir soluciones, que garanticen una experiencia de uso satisfactoria
         img(src="image/flecha.png") 
        .col-md-6
         img(src="image/captura_web.png")                      